# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
CFD/
venv/
env/

# IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Local development
*.log
.env
*.bak
*.tmp
*.swp

# Project specific
data/*.stl
# data/*.nas # Keep this commented or remove if you want to track *some* .nas in data/
src/data/*.nas
output/*.nas

# OS specific
.DS_Store
Thumbs.db
